from collections import Counter
class Solution:
    def frequencySort(self, s: str) -> str:
        s=list(s)
        cnt = Counter(s)
        cnt=dict(cnt.most_common())
        x=""
        for i in cnt:
            c=cnt.get(i)
            for j in range(c):
                x+=i
        return x
